# NYC traffic accidents 2019-2020  
## Filter and Subset

In [1]:
## import necessary libraries
import pandas as pd

In [2]:
## read the dataset into notebook

df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")

In [3]:
## show the data frame
df

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324378,1/1/19,19:00,BROOKLYN,"(40.6897, -73.922455)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
324379,1/1/19,8:00,BRONX,"(40.81317, -73.859146)",0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
324380,1/1/19,3:30,BRONX,"(40.829407, -73.81967)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
324381,1/1/19,19:30,BROOKLYN,"(40.687565, -73.984406)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
324382,1/1/19,12:00,MANHATTAN,"(40.71941, -73.99633)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [4]:
## see the overall info about this dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [5]:
## how many types of vehicles were the primary cause of the accidents
df["VEHICLE TYPE CODE 1"].unique()

array(['ÔøΩMBU', 'Sedan', 'Station Wagon/Sport Utility Vehicle', 'Taxi',
       'AMBULANCE', 'Pick-up Truck', 'Van', 'Box Truck', 'Dump', nan,
       'PK', 'trailer', 'Bike', 'Bus', 'E-Bike', 'Tractor Truck Diesel',
       'Carry All', 'Motorcycle', 'Convertible', 'Flat Bed',
       'Tow Truck / Wrecker', 'van', 'Garbage or Refuse', 'Truck',
       'Chassis Cab', 'E-Scooter', '4 dr sedan', 'Garbage Tr',
       'fire truck', 'Ambulance', 'SCHOOL BUS', 'Motorbike', 'Tanker',
       'FDNY FIRE', 'FIRETRUCK', 'DUMP', 'Refrigerated Van',
       'Tractor Truck Gasoline', 'Beverage Truck', 'BOX TRUCK', 'truck',
       'Snow Plow', '7532433', 'Moped', 'Trailer', 'DUMP TRUCK', 'COM',
       'Flat Rack', '3-Door', 'Motorscooter', 'USPS TRUCK', 'Ram Promas',
       'Concrete Mixer', 'FDNY', 'TRUCK', 'LIMO', 'SKID LOADE',
       'Armored Truck', 'Stake or Rack', 'MARKED VAN', 'Power Shov', 'HD',
       'FDNY AMBUL', 'SKYWATCH', 'NYNJ RAIL', 'VAN/TRUCK', 'Vanette',
       'SEMI TRAIL', 'FIRE TRUCK', 'utility', 'UTILITY', 'sedan',
       'Pickup with mounted Camper', 'commercial', 'Minibike', 'Pallet',
       'Dump truck', 'Lunch Wagon', 'FRHT TRAIL', 'UTIL', 'TRK',
       'Van truck', 'FDNY EMS', 'MOPED', 'Unknown', 'MTA truck',
       'Lift Boom', 'Bulk Agriculture', 'unknown', 'TRAC', 'ambulance',
       'VAN TRUCK', 'Unk', 'AMB', 'STAK', 'NIU', 'MTA', 'TRACTOR',
       '2 dr sedan', 'USPS TRUC,', 'na', 'Government', 'Sanitation',
       'FIRET TRUC', 'G AMB', 'C1', 'SCOOTER', 'tow', 'UTILITY WH',
       'pick up', 'Tk', 'School Bus', 'TOW TRUCK', 'Fedex', 'PICK UP TR',
       'PICKUP', 'U HAUL TRU', 'UNKNOWN', 'AMBU', 'Subr', 'USPS Truck',
       'Pick up tr', 'fdny ambul', 'ambulette', 'TRAILOR', 'CEMENT TRU',
       'Sprinter v', 'FORK LIFT', 'nyc EMS', 'Commercial', 'road sweep',
       'Multi-Wheeled Vehicle', 'REP', 'FDNY ENGIN', 'Com', 'DELV',
       'refuse tru', 'Motorized Home', 'VMS', 'Flat bed t', 'Fire Truck',
       'Box truck', 'TRUCK TRAI', 'Ambulette', 'USPS truck', 'FDNY FIRET',
       'CMIX', 'util', 'EMS Ambula', 'FLAT', 'LADDER TRU', 'COMMERCIAL',
       'sanitaton', 'pickup', 'tk', 'g com', 'E-SKATEBOA',
       'Enclosed Body - Removable Enclosure', 'usps 88716', 'ebike',
       'SEDAN', 'PERM', 'Tow Truck', 'forlift', 'MOTOR SKAT',
       'FDNY LADDE', 'PICK UP', 'GARBAGE TR', 'Can', 'FLATBED FR',
       'Open Body', 'E-scooter', 'postal van', 'FDNY TRUCK', 'UNK',
       'TRAILER', 'FIRTRUCK', 'skateboard', 'TTAILER', 'fdny ems',
       'AMBULACE', 'bus', 'Street Swe', 'Scooter', 'FDNY fire',
       'DELIVERY', 'firetruck', 'Cement Tru', 'USPS/GOVT', 'Pedicab',
       'TRUCK VAN', 'Golf Cart', 'SUV', 'CATAPILLAR', 'POWER SHOV',
       'DELIVERY T', 'SWT', 'Trac', 'USPS', 'FLAT  BED', 'E-BIKE',
       'Fork Lift', 'PSD', 'Fire Engin', 'FORKLIFT', 'COURIER', 'Courier',
       'Leased amb', 'SMART CAR', 'message si', 'scooter', 'moped',
       'E-UNICYCLE', 'Street Cle', 'box', 'F550', 'SKATEBOARD',
       'Lawnmower', 'BICYCLE', 'almbulance', 'dark color', 'Work Van',
       'ford van', 'Fire truck', 'Minicycle', 'PC', 'box truck',
       'Tractor tr', 'FD LADDER', 'abulance', 'FDNY Engin', 'OTH',
       'Go kart', 'CHEVY EXPR', 'SLINGSHOT', 'dilevery t', 'FDNY #226',
       'FREIGHT FL', 'Fork lift', 'UNKN', 'ELECTRIC S', 'MOVING VAN',
       'usps', 'forklift', 'UPS TRUCK', 'backhoe', 'Delv', 'dump truck',
       'Freight', 'Horse', 'Cargo Van', 'USPS VAN', 'TRUCK FLAT',
       'BOBCAT FOR', 'Tractor Tr', 'Pumper', 'DELIVERY V', 'DOT EQUIPM',
       'Livestock Rack', 'GEN  AMBUL', 'J1', '18 WHEELER', 'MAIL TRUCK',
       'UTILITY VE', 'MOTORSCOOT', 'government', 'FIRE ENGIN',
       'Front-Load', 'DRILL RIG', 'Wh Ford co', 'suburban', 'E REVEL SC',
       'ROAD SWEEP', 'LIGHT TRAI', 'Tractor', 'UT', 'cross', 'Van Camper',
       'AMBULENCE', 'FOOD TRUCK', 'Bucket Tru', 'gator', 'FDNY Ambul',
       'JOHN DEERE', 'f-250', 'PICK-UP TR', 'BACK HOE', 'MECHANICAL',
       'postal tru', 'CHEVROLET', 'WORK VAN', 'Fdny ambul', 'REFG',
       'NYC FD', 'E-bike', 'camper tra', 'FUSION', 'GOLF CART',
       'POSTAL TRU', 'MTA BUS', 'LCOMM', 'MOTOR SCOO', 'NYC AMBULA',
       'e skate bo', 'Ford sprin', 'Work van', 'FREIG', 'FLATBED', 'ambu',
       'tow truck', 'Trc', 'HRSE', 'Pick up Tr', '0', 'postal bus',
       'F150XL PIC', 'hrse', 'EMS', 'Pick up', 'CAT', 'SUBN WHI',
       'E bike', 'FDNY Fire', 'com', 'CARGO VAN', 'ELEC. UNIC', '1C',
       'DIRT BIKE', 'USPS POSTA', 'White ambu', 'Utility.', 'FREIGHT TR',
       'TRAIL', 'Tow truck', 'FDNY EMT', 'TRL', 'FREIG DELV',
       'FREIGHTLIN', 'pc', 'delviery', 'Tow', 'E-Bik', 'Firetruck',
       'Horse Trai', 'delivery v', 'escavator', 'OMR', 'P/SH',
       'ford econo', 'pick', 'US POSTAL', 'USPS #7530', 'Hearse', 'ORION',
       'H1', 'Piggy back', 'SE', 'Hopper', 'PUSH SCOOT', 'NYS AMBULA',
       'tr', 'Delivery', 'postal ser', 'PICKUP TRU', 'School bus',
       'school bus', 'nat grid t', 'Ford Van', 'yellow cab', 'G com',
       'COM TRANS', 'SELF INSUR', 'LIT DIRECT', 'backh', 'D/V WB',
       'SUBURBAN', 'Bobcat', 'UTILITY TR', 'food truck', 'EMERGENCY',
       'fdny truck', 'amb', 'WAGON', 'T880', 'Amb', 'pay loader',
       'sprinter v', 'tractor tr', 'FDNY EMS V', 'CO', 'AMBULETTE', 'OMS',
       'RV/VAN', 'TR-Trailer', 'ESU RESCUE', 'City', 'TANK', 'pedicab',
       'TTRAILER', 'MTA Bus', 'I-haul', 'UNK BOX TR', 'RMP V',
       'YELLOWPOWE', 'skate', '197209', 'posta', 'E450', 'UTILI', 'FIRE',
       'Ambul', 'SCHOO', 'Tow t', 'E-Sco', 'towe truck', 'utili', 'St',
       'amulance', 'UNKNO', 'DEPT VAN #', 'MOPD', 'GRUMM', 'Trail',
       'FIRET', 'Wagon', 'AMBUL', 'Mack', 'E bik', 'PSH', 'US PO', 'Golf',
       'TRACT', 'BOX T', 'UHUAL', 'BACKH', 'DELVI', 'box t', 'SCOOT',
       'picku', 'trail', 'DELIV', 'L1', 'FORKL', 'van t', 'SKATE',
       'POSTA', 'Box T', 'PAYLO', 'SANIT', 'Forkl', 'ECONO', 'VAN/T',
       'tract', 'FUEL', 'TRC', 'Ambu', 'G COM', 'TANKE', 'GARBA', 'RV',
       '3 WHE', 'SEMI', '2015', 'SPRIN', 'road', 'DOT T', 'CRANE',
       'MTA B', 'FLAT/', 'SELF', 'Food', 'deliv', 'COMME', 'scoot', 'BOX',
       'acces', 'ROAD', 'schoo', 'STREE', 'Scoot', 'FEDEX', 'fdny',
       'LIEBH', 'CAB', 'TOW T', 'USP M', 'SANTI', 'tow t', 'ambul', 'LTR',
       'comme', 'prks', 'Unkno', 'limo', 'dump', 'g spc', 'CONT', 'HI TA',
       'CAT.', 'POLIC', 'Parce', 'PICKU', 'fire', 'Const', 'COMM', 'Fire',
       '35 FT', 'GOLF', 'WINEB', 'PU', 'BoxTr', 'forkl', 'Tow T', 'WHITE',
       'TOWTR', 'PICK-', 'E BIK', 'POWER', 'MINI', 'trl', 'ELECT', 'TRLR',
       'stree', 'elect', 'Box t', 'MACK', 'VAN T', 'FORK', 'vespa',
       'Sprin', 'MOBIL', 'CITY', 'back', 'LIMOU', 'UHAUL', 'BS', 'excav',
       'DOLLY', 'APPOR', 'F650', 'golf', 'Well Driller', 'Mta',
       'Enclosed Body - Nonremovable Enclosure', 'Van T', 'SKID-',
       'firet', 'E SCO', 'DIRT', 'Schoo', 'ICE C', 'motor', 'KUBOT',
       'NYS A', 'range', 'LMB', 'BULLD', 'horse', 'ACCES', 'FLATB',
       'Barri', 'subn', 'FORD', 'comm.', 'MAIL', 'unkow', 'Acces',
       'Van (', 'Motor', 'BTM', 'US Po', 'Pas', 'Attac', 'NTTRL', 'MOTOR',
       'YELLO', 'movin', 'nypd', 'SUBUR', 'Elect', 'Rescu', 'E-BIK',
       'COURI', 'E - B', 'NAVIG', 'Subn', 'mta b', 'COMMU', 'HORSE', 'C3',
       'TIR', 'st', 'CONST', 'Motor Home', 'TRACK EXCA', 'concr', 'HINO',
       'dumps', 'other', 'semi', 'Stree', 'CAT P', 'power', 'garba',
       'FRIEG', 'wagon', 'Garba', 'BOOM', 'Comme', 'RMP', 'PASSE',
       'Posta', 'SEGWA', 'SC', 'Deliv', 'cater', 'SEA', 'moter', 'Hrse',
       'Trl', 'U-Hau', 'BUCKE', 'Mail', 'Sanit', 'BK', 'Glass Rack',
       'NYCHA', 'Snow', 'COMER', 'Pick', 'Picku', 'Grain', 'E AMB',
       'NYPD', 'SPC', 'A', 'rv', 'TKTR', 'GATOR', 'VAV', 'santa', 'EXCAV',
       'none', 'Road', 'PKUP', 'Firet', 'GOVER', 'te', 'LTRL', 'Tract',
       '\x7fomm', 'TRANS', 'TRACK', 'MAC T'], dtype=object)

In [6]:
## the number of unique values:
df["VEHICLE TYPE CODE 1"].nunique()

653

In [7]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7
pv = df["VEHICLE TYPE CODE 1"].value_counts().head(7)
pv

Sedan                                  147440
Station Wagon/Sport Utility Vehicle    120571
Taxi                                    13592
Pick-up Truck                            8958
Box Truck                                6266
Bus                                      4980
Bike                                     3124
Name: VEHICLE TYPE CODE 1, dtype: int64

In [8]:
## create a series of the crash dates.
CD = df["CRASH DATE"]
CD

0          5/21/19
1          1/21/20
2         12/31/20
3         12/25/20
4          4/15/20
            ...
324378      1/1/19
324379      1/1/19
324380      1/1/19
324381      1/1/19
324382      1/1/19
Name: CRASH DATE, Length: 324383, dtype: object

In [9]:
## Which borough had the most crashes?
df["BOROUGH"].value_counts()

BROOKLYN         69944
QUEENS           60529
MANHATTAN        37446
BRONX            36741
STATEN ISLAND     6038
Name: BOROUGH, dtype: int64

In [10]:
## What were a FIVE least encountered primary vehicles to get into a crash?
pv.tail()

Taxi             13592
Pick-up Truck     8958
Box Truck         6266
Bus               4980
Bike              3124
Name: VEHICLE TYPE CODE 1, dtype: int64

In [11]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df_q = df.query('BOROUGH == "QUEENS"')
df_q

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,5/2/20,17:30,QUEENS,"(40.67376, -73.79473)",0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4412513,Station Wagon/Sport Utility Vehicle,Pick-up Truck
74,12/16/20,16:20,QUEENS,"(40.7139, -73.7539)",0,0,0,0,0,0,0,0,Driver Inexperience,NaN,4376676,Box Truck,NaN
97,6/4/20,7:30,QUEENS,"(40.744232, -73.861275)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4423984,Bus,Station Wagon/Sport Utility Vehicle
105,12/3/20,15:10,QUEENS,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4373032,Sedan,NaN
129,12/19/20,16:15,QUEENS,"(40.72362, -73.88802)",1,0,1,0,0,0,0,0,Backing Unsafely,NaN,4379293,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324366,1/1/19,11:00,QUEENS,"(40.698704, -73.89974)",0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
324367,1/1/19,12:30,QUEENS,"(40.74114, -73.85747)",0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
324371,1/1/19,2:18,QUEENS,"(40.716507, -73.84711)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
324372,1/1/19,13:00,QUEENS,"(40.665497, -73.75573)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
324375,1/1/19,10:23,QUEENS,"(40.75868, -73.87552)",1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [12]:
## How many people were killed in Queens in accidents?
df_q["NUMBER OF PERSONS KILLED"].sum()

87

In [14]:
##Count of people killed in accidents
##how many rows are there of people killed in accidents
df_q["NUMBER OF PERSONS KILLED"].count()

60529

In [ ]:
## how many cyclists were killed in Queens?

df_q["NUMBER OF CYCLIST KILLED"].value_counts()

**Syntax for querying multi-word column names:**

```dataframe.query('`column name` comparison_operator value')```

Note the opening and closing tick marks ``` ` ```

In [ ]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause

df_TopEightP = df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head(8)
df_TopEightP

In [ ]:
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause
df_TopEightS = df["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head(8)
df_TopEightS

In [ ]:
## What were the 5 fewest causes for primary vehicles causing the accident
df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail(5)

##  DON'T DO THE ONES BELOW
I did not cover it yet

In [ ]:
## How many unique values are there for primary reasons for accidents

In [ ]:
## list ALL the causes as unique values (in other words, create a list of the causes)